*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
      width: 10px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: palevioletred;
      border-radius: 12px;
      transition: all 0.3s ease;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: pink;
  }
  nav{
    position : sticky;
      top :0;
    font-size: 30px;
    color: white;
    background-color:palevioletred;
    width: 100%;
    padding: 15px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
  }
  nav.sticky{
    padding: 11px 0;
    cursor: pointer;
  }
  nav .header-nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  nav .header-nav .logo a{
    font-weight: 500;
    font-size: 40px;
  color: white;
  }
  nav .header-nav .logo a:hover{
    color: pink;
  }
  nav .header-nav .menu{
    display: flex;
    position: relative;
  }
  nav .header-nav .menu li{
    list-style: none;
    margin: 0 8px;
    align-items:right;
  }
  .header-nav .menu a{
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    transition: all 0.4s ease;
    color: white;
  }
  .header-nav .menu a:hover{
    color: pink;
  }
  
  .home-content img{
    height: 450px;
    width: 450px;
    border-radius: 12px;
    object-fit: cover;
    float: inline-end;
    border-color: palevioletred;
  
  }
  .home{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(rgba(255, 254, 253, 0.7), rgba(255, 254, 253, 0.9)),url(images/received_1714194452101941.jpeg\ -\ Shortcut.lnk);
      background-size:cover;
  }
  .home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .text-one{
    font-size: 30px;
    color: #0E2431;
  }
  .home .text-two{
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .text-three{
    font-size: 25px;
    margin: 5px 0;
    color: black;
  }
  .home .text-four{
    font-size: 25px;
    margin: 5px 0;
    color:black;
  }
  
  .home .button{
    margin: 10px 0;
    color:white;
  }
  .home .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
      background-color:palevioletred;
      padding-top: 20px;
  }
  .home .button button:hover{
     border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }
  section{
    padding-top: 40px;
  }
  section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }
  .about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .title span::before,
  section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: palevioletred;
    left: 0;
    bottom: 0;
  }
  section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .about .about-details .left{
    width: 40%;
  }
  .about .left img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 12px;
  }
  .about-details .right{
    width:50%;
  }
  section  .topic{
    color: black;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: sans-serif;
    font: bolder;
  }
  section .details{
    text-align: justify;
    color: #0E2431;
    font-family: sans-serif;
    font: bold;
    font-size:18px ;
  }
  .about-details .right p{
    text-align: justify;
    color: #0E2431;
  }
  section .button{
    margin: 16px 0;
  }
  section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: palevioletred;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  section .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }
  /* css my skills */
  .skill-box {
    background: lightpink;
    padding: 35px 30px 9px;
    margin-bottom: 30px;
    border-radius: 10px;
      margin-bottom: 60px;
  }
  .progress {
      height: 3px;
      margin-bottom: 0;
      overflow: hidden;
      background-color:palevioletred;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      display: flex;
      height: 1rem;
      overflow: hidden;
      font-size: .75rem;
  }
  .skill-item .skill-info span {
      font-size: 29px;
  }
  .progress-bar {
      float: left;
      height: 100%;
      font-size: 12px;
      line-height: 3px;
      color: #fff;
      text-align: center;
      background-color:palevioletred;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: width 0.6s ease;
      -o-transition: width 0.6s ease;
      transition: width 0.6s ease;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  
  }@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
  }
  
  /*css portfoli*/
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  .left{
    float:inline-start;
  }
  .center{
    float:left ;
  }
  .right{
    float: inline-end;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back  {
    background-color: palevioletred;
    color: white;
    transform: rotateY(180deg);
  }
  
  /*css pro*/
  .pro .button button {
      outline: none;
      padding: 8px 16px;
      border-radius: 50px;
      font-size: 25px;
      font-weight: 400;
      background: palevioletred;
      color: #fff;
      border: 2px solid transparent;
      cursor: pointer;
      transition: all 0.4s ease;}
  .contact{
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }
  section .container-contact{
              display: flex;
              column-gap: 2rem;
              flex-wrap: wrap;}
  
  section .contact-section {
      flex-grow: 1;
  }           
  section h2 {
      margin: .82rem 0 .656rem 0;
      font-size: 1.45rem;
      font-weight: 400;
      line-height: 110%;
  }
  section .message-contact{
      flex-grow: 1;
  }
  #form {
   margin: 1rem 0;
   display: flex;
   flex-direction: column;
   row-gap: 0.5rem;
  }
  
 #form {
   display: flex;
   flex-direction: column;
  }
  .from label { font-size: 1rem; }
  
  #form input,
  textarea {
   padding: 1rem;
   border-radius: 3px;
   border: 1px solid palevioletred;
   resize: none;
  }
  
  button {
   align-self: flex-start;
   padding: 1rem ;
   border-radius: 5px;
   border: none;
   background: palevioletred;
   color: black;
   cursor: pointer;
   font-size: large;
  }
  button:hover{
    background: pink
  }
  /* Footer CSS */
  footer{
    background: palevioletred;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 15vh;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  footer .text span a{
    font-weight: 500;
    color: #FFF;
  }
  footer .text span a:hover{
    text-decoration: underline;
  }
  /* Scroll TO Top Button CSS */
  .scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }
  
  